/*using universal selector */
*{
    margin: 0;
    background-color: bisque;
}




header#top_header{
    height: 50vh;
}

/* Using Flex */
#footer_head{
  margin-bottom: 40px;
  display:flex;
  justify-content: space-between;
  padding-right:332px;
  padding-left: 323px;
  border:1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 260px;
  background-color: aliceblue;

}

#footer_head p{
    background-color:aliceblue;
    color:blue;
}


 


