* {
    margin: 0;
    padding: 5px;


}

#top_header {
    background-color: aqua;
    height: 50vh;
}

#footer_head {
    text-align: center;
    margin-top: 40px;
    background-color: aqua;
    height: 40hv;
}

a:link {
    color: #FF0000;
}

a:visited {
    color: #00FF00;
}